<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SchoolBox!</h1>
    <p>
      Your child has been registered at school.

      Please <a href="<%= @url %>">sign in</a> today using the following credentials in order to stay in touch with your child's teachers and have access to important documents such as permission forms and report cards. You can change your password upon login.<br>
    </p>
    <p>
      <strong>Username: </strong><%= @email %>
      <strong>Password: </strong><%= @password %>
    </p>
    <p>
      To sign in to the site, just follow this link or copy and paste it into your address bar: <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p>
      If you require assistance with signing up, please feel free to give SchoolBox a call Monday - Friday, 8am to 5pm at 123-123-1234
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>