<h2>
  <%= @classroom.subject %> (<%= link_to "Edit", edit_classroom_path(@classroom) %>,
  <%= link_to "Delete", classroom_path(@classroom), method: :delete, data: {confirm: "You sure?"} %>)
</h2>

<%= form_for @classroom do |f| %>

  <%= select_tag :student_ids, options_from_collection_for_select(@students, "id", "firstname"), multiple: true, class: "chosen-select" %>

  <%= submit_tag "Add Students" %>



<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    <% @classroom.students.each do |student| %>
      <tr>
        <td><input type="checkbox" name="ids_to_delete[]" value="<%= student.id %>"/></td>
        <td><%= student %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag "Remove students" %>
</div>

<% end %>