<h2><%= @classroom.subject %> (<%= link_to "Edit", edit_classroom_path(@classroom) %>, <%= link_to "Delete", classroom_path(@classroom), method: :delete, data: {confirm: "You sure?"} %>)</h2>
<h3><%  %></h3>

<select id='searchable' multiple='multiple'>
  <% @students.each do |student| %>
  <option><%= student.firstname %> <%= student.lastname %></option>
  <% end %>
</select>

<script src="/javascripts/jquery.multi-select.js" type="text/javascript"></script>
<script src="/javascripts/jquery.quicksearch.js" type="text/javascript"></script>
<script>
$('#searchable').multiSelect({
  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Add students'>",
  selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Remove students'>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(){
    this.qs1.cache();
    this.qs2.cache();
  },
  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
  }
});
</script>