<div class="classroom-header">
  <bh2><%= @classroom.subject %></bh2>
</div>

<div class="classroom-body">
  <div class="classroom-body-header">
    <h2><%= @teacher %></h2>
  </div>
  <br>
  <div>
    <div id="select-form-box">
    <%= form_for @classroom, :id => 'class_form_id' do |f| %>
      <%= select_tag :student_ids, options_from_collection_for_select(@students, "id", "full_name"), multiple: true, class: "chosen-select"%>
    </div>
    <div id="add-btn">
      <%= submit_tag "Add Students" %>
    </div>
  </div>
  <div id="remove-btn">
    <%= submit_tag "Remove students" %>
  </div>
</div>

<div class="students-body">
  <div id="students-bar"><h2>Students</h2></div>
  <div class="student-scroll-box">
     <% @classroom.students.each do |student| %>
      <div class="individual-student">
        <div class='student-photo'><%= image_tag(student.avatar_file_name) %></div>
        <div><input type="checkbox" name="ids_to_delete[]" value="<%= student.id %>" class="student-checkbox"/></div>
        <h5><%= link_to student, student_path(student) %></h5>
        <%= link_to(student_path(student)) do %>
          <span class="glyphicon glyphicon-comment"></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
$(function(){
  $('.student-checkbox').on('click', function (argument) {    
    if ($("class_form_id, input:checkbox:checked").length > 0){
      console.log("worked");
      $("#remove-btn").show();
    }else{
      console.log("worked2");
       $("#remove-btn").hide();
    };
  });
});
</script>
  