<div class="bg-image"></div>
<div class="whitelayer"></div>
<div id="front-page-content">

  <div id="front-page-header">
    <h1>SchoolBox</h1>

    <h3>Teachers. Parents. Communication.</h3>
  </div>
  <div>
    <div class="shadow container borders front-box" id="brochure">
      <h2>About</h2>
      <p>SchoolBox is a digital toolbox to facilitate communication between teachers and parents/guardians. Teachers have access to class management tools, and parents have access to important information about their child's progress. Register your school today, or contact your school administrator to get started.
        <form action='/schools/new' method='get'><button class="btn btn-default">Register Your School</button></form>
      </p>
    </div>

    <div class="shadow container borders front-box" id="login-box">
      <% if current_user || admin_user %>
        <h3>Get started!</h3>
          <div>
            <br>
            <% if current_user.type == "Teacher" %>
              <%= button_to "View Dashboard", teacher_path(current_user), { method: "get", :class => "btn btn-default" } %>
            <% elsif current_user.type == "Parent" %>
              <%= button_to "View Dashboard", parent_path(current_user), { method: "get", :class => "btn btn-default" } %>
            <% elsif admin_user %>
              <%= button_to "View Dashboard", school_path(admin_user), { method: "get", :class => "btn btn-default" } %>
            <% end %>
            <%= button_to "Log out", session_path("current"), { method: "delete", :class => "btn btn-default" } %>
          </div>
      <% else %>
        <h3>Login</h3>
          <div>
            <%= form_tag session_path do %>
            <br>
            <%= text_field_tag :email, params[:email], { :class => "form-control", :placeholder => "Email"} %>
            <br>
            <%= password_field_tag :password, params[:password], { :class => "form-control", :placeholder => "Password"} %>
            <br>
            <%= submit_tag "Log In", :class => 'btn btn-default' %> <button class="btn btn-default btn-control">Sign Up</button>
            <% end %>
          </div>
      <% end %>
        
  </div>
  </div>

</div>



<!--
<div class='front-page'>
  <section>
    <div class='header-holder'>
      <div class='text-center school-title'>
        <p>SchoolBox</p>
      </div>
    </div>
  </section>
<div class="container">


<section class='about-section'>
  <div class='schoolbox-about'>
    <h1 class='about-header'>About SchoolBox</h1>
      <br>
        <p class='about-paragraph'>SchoolBox was built so that Parents and Teachers could stay connected without giving the responsibilty of transposrting information to the children.  It is an all encompassing web aplication that gives the Teacher the ability to send batch emails to all of the students in their respective classes, or email a parent directly if they have concerns directly related to their child.  The Teachers can send out anything from permission slips to report cards.  It lets teachers keep information organised in a nice warm environment.... BLAH BLAH BLAH</p>
    <h1 class='about-header'>Features</h1>
      <br>
        <p class='about-paragraph'>Features that schoolbox can give you!</p>
    
  </div>
</section>

<section>
  <div id='login-box'>
    <img src='/images/logo.png'>
      <% if !current_user && !admin_user %>
        <%= form_tag session_path do %>
          <div>
            <%= text_field_tag :email, params[:email], { :class => "form-control text-center", :placeholder => "Email"} %>
          </div>
          <div>
            <%= password_field_tag :password, params[:password], { :class => "form-control text-center", :placeholder => "Password"} %>
          </div>
          <div class='login'>
            <%= submit_tag "Log In", :class => 'btn btn-default' %>
            <%= link_to 'Forgot Your Password' %>
          </div>
        <% end %>
      <% end %>
  </div>
</section>
-->
    
<!-- <section> -->
<!-- Different login box if we dont want it in the nav-bar -->
<!-- <div class='schoolbox-about'>
  <form action='' method='' class='form-sign-in'>
    <div class='sign-in-holder'>
      <h2 class='form-sigin-header'>Sign In</h2>
      <div class='login-wrap'>
        <div class='user-login-info'>
          <input type='text' name='email' placeholder='Username' class='form-control text-center'><br>
          <input type='text' name='password' placeholder='Password' class='form-control text-center'><br>
        </div>
        <div class='login-btn text-center'>
          <button type='submit' name='signup' class='btn btn-danger'>Sign In</button>
        </div>
    </div>
  </form>
</div> -->
<!-- </section>
 -->