<% if @sender.is_a?(Teacher) %>
  <% recipients_array = ["All student guardians"] %>
<% elsif @sender.is_a?(School) %>
  <% recipients_array = ["All student guardians", "All teachers"] %>
<% end %>


<% @sender.classrooms.each { |classroom| recipients_array.push(classroom.subject) } %>

<%= form_for Message.new, :html => { :multipart => true }, :class => 'form-horizontal' do |f| %>
  <div>
    <%= f.select :recipients, options_for_select(recipients_array), {prompt: 'Choose recipients', :class => 'form-control'} %>
  </div>
  <div>  
    <%= f.text_field :subject_line, {:class => 'form-control', :placeholder => "Subject line"} %>
  </div>
  <div>
    <%= f.text_area :text, {:class => 'form-control', :placeholder => 'Your message'} %>
  </div>
      <%= f.label :attachment, "Add attachment: " %>
      <%= f.file_field :attachment %>
  <div>
    <%= f.submit "Send Email", {:class => 'btn btn-warning message-submit'} %> 
  </div>
<% end %>