<div class='container'>
  <div class='parent-photo'>
  </div>
    <div class='parent-info'>
      <p>Name: <%= current_user.firstname %> <%= current_user.lastname %> </p>
      <p>Email: <%= current_user.email %> </p>
      <p>Address: <%= current_user.address %> </p>
      <p>Phonenumber: <%= current_user.emergency_phone %> </p>
    </div>
    <hr>
    <div class='row'>
    <h3 style='padding-left: 25px;'>Your Children:</h3>
      <div class='col-md-12'>
        <% @parent.students.each do |student|  %>
          <div class='child-info'>
            <div>
            <!-- insert student.photo --><img src='<%= student.avatar %>'>
            </div> 
            <div class='child-name'>
              <span><%= student.firstname %>  |  Grade: <%= student.grade %></span>
              <br>
              <div class="btn-group dropdown appointment-list">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Appointments<span class="caret"></span>
                </button>
                <% student.events.each do |event|%>
                  <ul class="dropdown-menu" role="menu">
                    <p><%=link_to "#{event.title}"%></p>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- displaying appointments with teachers for their child -->



</div>  <!-- end container -->

