<div class='container'>
  <div class='parent-photo'>
  </div>
    <div class='parent-info'>
      <p>Name: <%= current_user.full_name %> </p>
      <p>Email: <%= current_user.email %> </p>
      <p>Address: <%= current_user.address %> </p>
      <p>Phonenumber: <%= current_user.emergency_phone %> </p>
    </div>
    <hr>
    <div class='row'>
    <h3 style='padding-left: 25px;'>Your Children:</h3>
      <div class='col-md-12'>
        <% @parent.students.each do |student|  %>
          <div class='child-info'>
            <div>
            <!-- insert student.photo --><img src='/images/nopicture.png'>
            </div> 
            <div class='child-name'>
              <span><%= student.firstname %>: </span>
              <div class='child-button'>
                <%= link_to "Classes", student_path(student), :class => 'btn btn-default' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>  <!-- end container -->

