

<div class="school-body">
  <bh2 id="school-top">Hello, School Admin!</bh2>
  <div>
    <div class="school-col">
      <h2>Teachers</h2>
      <div class="col-scroll">
        <div>
          <% @school.teachers.each do |teacher| %>
            <%= teacher.full_name %>
            <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="school-col">
      <h2>Students</h2>
      <div class="col-scroll">
        <div>
          <% @school.students.each do |student| %>
            <%= student.full_name %>
            <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="school-col">
      <h2>Classrooms</h2>
      <div class="col-scroll">
        <div>
          
          <% @school.classrooms.each do |classroom| %>
            <%= classroom.subject %> : 
            <%= @school.teachers.find(classroom.user_id) %>
            <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="school-col">
      <h2>Dashboard</h2>
      <div class="col-scroll">
        <h5> <%= link_to "Add a student", new_student_path %> </h5>
        <h5> <%= link_to "Add a classroom", new_classroom_path %> </h5>
        <h5> <%= link_to "Add a teacher", new_teacher_path %> </h5>
        <h5> <%= link_to "Send Emails", new_message_path %> </h5></div>
      </div>
    </div>
  </div>
</div>


