<div class='teacher-body'>
  <div class="teacher-info">
    <div class='teacher-photo'>
    </div>
    <div>
        <h4> <%= @teacher.full_name %> </h4>
        <h4> <%= @teacher.email %> </h4>
    </div>
  </div>
    <!-- dropdown menu for class list for the teacher -->
  <div id="calander-body">
    <div>
      <div class="calander-control">
        <h1>Appointments</h1>
        <div><%= link_to "Add Appointment", new_event_path(@event) %></div>
      </div>
    </div>
    <div id='calendar'></div>
  </div>
</div> <!-- end of teacher body -->

<div class="classes-body">
  <div id="class-bar">
    <h1>Classes</h1>
  </div>
  <div>
    <% @teacher.classrooms.each do |classroom|  %>        
      <%= link_to(classroom_path(classroom)) do %>
        <div class="classroom"><h4> <%= "#{classroom.subject}" %> </h4></div>
      <% end %>
    <% end %>
  </div>

</div>

